body {
	max-width: 800px;
	width: 80%;
	margin: 1% auto;
	border: 5px solid #bdc3c7;
	font-family: "Source Sans Pro", sans-serif;;
	padding: 20px;
}

.date {
	color: #3498db;
	text-transform: uppercase;
}

.border {
	border-left: 3px solid #bdc3c7;
	padding-left: 5px;
}
